body {
    font-family: Courier New;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(153, 74, 228);
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

ul,
ol {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: rgb(18, 153, 13);
}

a:hover {
    text-decoration: underline;
}

dl img {
    display: block;
    margin: 0 auto;
}

.border {
    border: 10px dashed rgb(139, 139, 139);
}